# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [76]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
# from pprint import pprint
# from lxml import html
# from lxml.html import fromstring
# import urllib.request
from urllib.request import urlopen
# import random
import re
# import scrapy

In [77]:
def limpiar(texto):
    texto = re.sub('\xa0','',texto)
    texto = re.sub('\s','',texto)
    texto = re.sub('\n+','',texto)
    return texto

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [78]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [79]:
#your code

html = requests.get(url).text

soup = BeautifulSoup(html, 'lxml')

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [80]:
#your code
names = soup.select('h1[class="h3 lh-condensed"]')
names_dev = [x.text.strip() for x in names]
names_dev[:5]

['Chris Banes',
 'Robert Mosolgo',
 'Earle F. Philhower, III',
 'Kévin Dunglas',
 'JJ Kasper']

In [81]:
users = soup.select('p[class="f4 text-normal mb-1"]')
usernames = [x.text.strip() for x in users]
usernames[:5]

['chrisbanes', 'rmosolgo', 'earlephilhower', 'dunglas', 'ijjk']

In [82]:
df = pd.DataFrame(list(zip(names_dev,usernames)), columns = ['Name', 'Username'])
df.head(10)

                      Name        Username
0              Chris Banes      chrisbanes
1           Robert Mosolgo        rmosolgo
2  Earle F. Philhower, III  earlephilhower
3            Kévin Dunglas         dunglas
4                JJ Kasper            ijjk
5          Willem Melching           pd0wm
6             Joël Galeran          Jolg42
7                   An Tao          an-tao
8             Tony Arcieri        tarcieri
9              Daniel Agar           dagar

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [83]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [86]:
#your code
html = requests.get(url).content

soup = BeautifulSoup(html, 'html.parser')

In [87]:
complete = soup.select('h1[class="h3 lh-condensed"]')
repositories = [x.text.strip() for x in complete]
repositories2 = [re.sub('\n','',repositories[i]) for i in range(len(repositories))]
repositories3 = [re.sub('\s+',' ',repositories2[i]) for i in range(len(repositories))]
repositories3[:11]

['0vercl0k / CVE-2021-31166',
 'sqlfluff / sqlfluff',
 'TheAlgorithms / Python',
 'Chia-Network / pool-reference',
 'fairlearn / fairlearn',
 'IBM / Project_CodeNet',
 'rishikksh20 / FNet-pytorch',
 'vinta / awesome-python',
 'allenai / allennlp',
 'rwightman / pytorch-image-models',
 'espnet / espnet']

#### Display all the image links from Walt Disney wikipedia page

In [88]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [89]:
#your code
html = requests.get(url).content
soup = BeautifulSoup(html, 'lxml')
#soup

In [90]:
x = soup.find_all('img')
links = [i['src'] for i in x]
links[:10]

['//upload.wikimedia.org/wikipedia/en/thumb/e/e7/Cscr-featured.svg/20px-Cscr-featured.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/8/8c/Extended-protection-shackle.svg/20px-Extended-protection-shackle.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/87/Walt_Disney_1942_signature.svg/150px-Walt_Disney_1942_signature.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Newman_Laugh-O-Gram_%281921%29.webm/220px-seek%3D2-Newman_Laugh-O-Gram_%281921%29.webm.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Trolley_Troubles_poster.jpg/170px-Trolley_Troubles_poster.jpg',
 '//upload.wikimedia.org/wikipedia/en/thumb/4/4e/Steamboat-willie.jpg/170px-Steamboat-willie.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/5/57/Walt_Disney_1935.jpg/170px-Walt_Disney_1935.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [91]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [92]:
#your code
html = requests.get(url).content

In [93]:
soup = BeautifulSoup(html, 'lxml')

In [94]:
links = soup.find_all('a', href=re.compile('wiki'))
total_links = [i['href'] for i in links]
total_links[2:30]

['/wiki/Pythons',
 '/wiki/Python_(genus)',
 '/wiki/Python_(programming_language)',
 '/wiki/CMU_Common_Lisp',
 '/wiki/PERQ#PERQ_3',
 '/wiki/Python_of_Aenus',
 '/wiki/Python_(painter)',
 '/wiki/Python_of_Byzantium',
 '/wiki/Python_of_Catana',
 '/wiki/Python_Anghelo',
 '/wiki/Python_(Efteling)',
 '/wiki/Python_(Busch_Gardens_Tampa_Bay)',
 '/wiki/Python_(Coney_Island,_Cincinnati,_Ohio)',
 '/wiki/Python_(automobile_maker)',
 '/wiki/Python_(Ford_prototype)',
 '/wiki/Python_(missile)',
 '/wiki/Python_(nuclear_primary)',
 '/wiki/Colt_Python',
 '/wiki/PYTHON',
 '/wiki/Python_(film)',
 '/wiki/Python_(mythology)',
 '/wiki/Monty_Python',
 '/wiki/Python_(Monty)_Pictures',
 '/wiki/Cython',
 '/wiki/Pyton',
 '/wiki/Pithon',
 '/wiki/File:Disambig_gray.svg',
 '/wiki/Help:Disambiguation']

#### Number of Titles that have changed in the United States Code since its last release point

In [95]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [96]:
#your code
html = requests.get(url).content

In [97]:
soup = BeautifulSoup(html,'lxml')

In [98]:
lista = soup.select('div[class="usctitle"]')
numeros = [x.text for x in lista]
numeros_2 = [re.sub('\n','',numeros[i]) for i in range(len(numeros))]
numeros_3 = [re.sub('\s+','',numeros_2[i]) for i in range(len(numeros_2))]
numeros_3[2:]

['Title1-GeneralProvisions٭',
 'Title2-TheCongress',
 'Title3-ThePresident٭',
 'Title4-FlagandSeal,SeatofGovernment,andtheStates٭',
 'Title5-GovernmentOrganizationandEmployees٭',
 'Title6-DomesticSecurity',
 'Title7-Agriculture',
 'Title8-AliensandNationality',
 'Title9-Arbitration٭',
 'Title11-Bankruptcy٭',
 'Title12-BanksandBanking',
 'Title13-Census٭',
 'Title14-CoastGuard٭',
 'Title15-CommerceandTrade',
 'Title16-Conservation',
 'Title17-Copyrights٭',
 'Title18-CrimesandCriminalProcedure٭',
 'Title19-CustomsDuties',
 'Title20-Education',
 'Title21-FoodandDrugs',
 'Title22-ForeignRelationsandIntercourse',
 'Title23-Highways٭',
 'Title24-HospitalsandAsylums',
 'Title25-Indians',
 'Title26-InternalRevenueCode',
 'Title27-IntoxicatingLiquors',
 'Title28-JudiciaryandJudicialProcedure٭',
 'Title29-Labor',
 'Title30-MineralLandsandMining',
 'Title31-MoneyandFinance٭',
 'Title32-NationalGuard٭',
 'Title33-NavigationandNavigableWaters',
 'Title34-CrimeControlandLawEnforcement',
 'Title35-Patents٭',
 'Title36-PatrioticandNationalObservances,Ceremonies,andOrganizations٭',
 'Title37-PayandAllowancesoftheUniformedServices٭',
 "Title38-Veterans'Benefits٭",
 'Title39-PostalService٭',
 'Title40-PublicBuildings,Property,andWorks٭',
 'Title41-PublicContracts٭',
 'Title42-ThePublicHealthandWelfare',
 'Title43-PublicLands',
 'Title44-PublicPrintingandDocuments٭',
 'Title45-Railroads',
 'Title46-Shipping٭',
 'Title47-Telecommunications',
 'Title48-TerritoriesandInsularPossessions',
 'Title49-Transportation٭',
 'Title50-WarandNationalDefense',
 'Title51-NationalandCommercialSpacePrograms٭',
 'Title52-VotingandElections',
 'Title53[Reserved]',
 'Title54-NationalParkServiceandRelatedPrograms٭']

#### A Python list with the top ten FBI's Most Wanted names

In [99]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [100]:
#your code 
html = requests.get(url).content

In [101]:
soup = BeautifulSoup(html,'lxml')

In [102]:
lista = soup.select('h3[class="title"]')
nombres = [i.text.strip() for i in lista]
nombres

['ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'EUGENE PALMER',
 'RAFAEL CARO-QUINTERO',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ROBERT WILLIAM FISHER',
 'ALEJANDRO ROSALES CASTILLO',
 'ARNOLDO JIMENEZ',
 'JASON DEREK BROWN',
 'YASER ABDEL SAID']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [103]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [104]:
#your code
html = requests.get(url).content

In [105]:
soup = BeautifulSoup(html, 'lxml')

In [106]:
dates = soup.select('td[class="tabev6"]')
date = [date.text[10:20] for date in dates][:20]
date[:3]

['2021-05-19', '2021-05-19', '2021-05-19']

In [107]:
times = soup.select('td[class="tabev6"]')
time = [time.text[23:34] for time in times][:20]
time[:3]

['18:52:28.20', '18:30:06.12', '18:08:33.04']

In [108]:
latitudes = soup.select('td[class="tabev1"]')
latitude = [limpiar(latitude.text) for latitude in latitudes[0::2]][:20]
latitude[:6]

['19.16', '38.26', '2.51', '36.67', '2.39', '10.23']

In [109]:
latitudes_pole = soup.select('td[class="tabev2"]')
latitude_pole = [limpiar(latitude.text) for latitude in latitudes_pole[0::3]][:20]
latitude_pole[:6]

['N', 'N', 'S', 'S', 'S', 'N']

In [110]:
zip_latitude = [latitude[i]+' '+latitude_pole[i] for i in range(len(latitude))]
zip_latitude[:3]

['19.16 N', '38.26 N', '2.51 S']

In [111]:
longitudes = soup.select('td[class="tabev1"]')
longitude = [limpiar(longitude.text) for longitude in longitudes[1::2]][:20]
longitude[:6]

['155.42', '38.73', '139.33', '110.45', '128.76', '84.07']

In [112]:
longitudes_pole = soup.select('td[class="tabev2"]')
longitude_pole = [limpiar(longitudes.text) for longitudes in longitudes_pole[1::3]][:20]
longitude_pole[:6]

['W', 'E', 'E', 'W', 'E', 'W']

In [113]:
zip_longitude = [longitude[i]+' '+longitude_pole[i] for i in range(len(longitude))]
zip_longitude[:3]

['155.42 W', '38.73 E', '139.33 E']

In [114]:
region_names = soup.select('td[class="tb_region"]')
region_name = [limpiar(region.text) for region in region_names][:20]
region_name[:3]

['ISLANDOFHAWAII,HAWAII', 'EASTERNTURKEY', 'NEARNCOASTOFPAPUA,INDONESIA']

In [115]:
col_names = ['date','time','latitude','longitude','region_name']

In [116]:
df = pd.DataFrame(list(zip(date,time,zip_latitude,zip_longitude,region_name)),columns=col_names)
df.reset_index(inplace=True)
df.head()

,index,date,time,latitude,longitude,region_name
0,0,2021-05-19,18:52:28.20,19.16 N,155.42 W,"ISLANDOFHAWAII,HAWAII"
1,1,2021-05-19,18:30:06.12,38.26 N,38.73 E,EASTERNTURKEY
2,2,2021-05-19,18:08:33.04,2.51 S,139.33 E,"NEARNCOASTOFPAPUA,INDONESIA"
3,3,2021-05-19,17:54:39.51,36.67 S,110.45 W,SOUTHERNEASTPACIFICRISE
4,4,2021-05-19,17:47:14.01,2.39 S,128.76 E,"CERAMSEA,INDONESIA"

#### Display the date, days, title, city, country of next 25 hackathon events as a Pandas dataframe table

In [ ]:
# This is the url you will scrape in this exercise
url ='https://hackevents.co/hackathons'

In [ ]:
#your code

#No conecta con la página

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
#your code

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
#your code

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [ ]:
#your code

#### A list with the different kind of datasets available in data.gov.uk

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [ ]:
#your code

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [ ]:
#your code

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [ ]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [ ]:
# your code

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [ ]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [ ]:
#your code

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
#your code